
header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
}

header > h1 {
  /* font-size: 5vh; */
}

nav {
  font-size: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

nav > div + div  {
  margin-left: 7px;
}

nav > div > a {
  text-decoration: none;
}
nav > div > a:hover, nav > div > a:focus {
  border-bottom: solid 1px #888;
  /* background: gray; */
}
