:root {
	/* includes padding */
	--nav-height: 50px;
}

header {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  text-align: center;
	color: #fff;
	background:  linear-gradient(to bottom right, #4DA8DA, #007CC7);
}

header > h1 {
  font-size: 3em;
	margin-bottom: 0;
}

nav {
  font-size: 22px;
	padding: 0;
	height: var(--nav-height);
	font-weight: bold;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

nav > div + div  {
  margin-left: 7px;
}

nav > div > a {
  text-decoration: none;
	color: #EEFBFB
}
nav > div > a:hover, nav > div > a:focus {
  border-bottom: solid 1px #EEFBFB;
}

nav > div > a:visited {
	color: #EEFBFB;
}

#header-media-links {
	display: flex;
	justify-content: space-around;
	align-self: center;
	width: 200px;
}

.sticky {
  position: fixed;
  width: 100%;
	z-index: 2;
	animation-name: slideNav;
	animation-duration: 0.4s;
	animation-fill-mode: forwards;
	background: inherit;
}

@keyframes slideNav {
	from {bottom: calc(var(--nav-height) + 100vh);}
	to {bottom: calc(100vh - var(--nav-height));}
}
