@import "./header.css";
@import "./main.css";
@import "./icons.css";
@import "./about.css";
@import "./contact.css";

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Calibri, Verdana;
	background:  #12232E;
	color: #EEFBFB;
}

html {
	scroll-behavior: smooth;
}
