main > section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

article {
  width: 100%;
}

article figure {
  background: #dac;
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 16px;
  padding: 0 5px;
  border-radius: 3px;
}

article figure figcaption *:last-child {
  margin-bottom: 0;
}
