main a {
	color: #4DA8DA;
}

main > section {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
	font-size: 22px;

}


article {
  width: 100%;
	max-width: 480px;
}

article figure {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 16px;
  padding: 0 5px;
  border-radius: 3px;
}

article figure a {
	text-align: center;
}

article figure a img {
	width: 100%;
}

article figure figcaption *:last-child {
  margin-bottom: 0;
}

article figure figcaption a:visited {
	color: #4DA8DA;
}
article figure figcaption a:hover {
	color: #007CC7;
}

article figure figcaption > span h5 {
	margin-top: 10px;
	text-align: center;
}
article figure figcaption > span h4 {
	margin-bottom: 10px;
}

article figure hr {
	width: 75%;
}

#all-projects {
	width: 100%;
}

#all-projects article {
	border-bottom: 1px dotted #EEFBFB;
}

#all-projects article:last-child {
	border-bottom: none;
}

.light-bg {
	background: #203647;
}

@media only screen and (min-width: 600px) {
	#all-projects {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	#all-projects article {
		flex: 1 0 480px;
	}
}
@media only screen and (min-width: 965px) {
	#all-projects article {
		border-bottom: none;
	}
}
